name: Update uberAgent ESA sigma rules

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
  
jobs:
  build:
    strategy:
      matrix:
        branch: [ develop, version/6.2, version/7.0 ]
    
    runs-on: ubuntu-latest

    env:
      PYTHONUNBUFFERED: 1
      GITHUB_ACTOR: ${{ github.actor }}
      GITHUB_TOKEN: ${{ secrets.VLSVC_PAT}}

    steps:
    - name: Checkout main branch
      uses: actions/checkout@v2
      with:
        token: ${{ secrets.VLSVC_PAT }}

    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Convert sigma rules to uberAgent ESA rules
      run: bash ./convert-sigma-rules.sh "${{ matrix.branch }}"

