name: Transpile Script

on:
  push:
    branches:
      - '*'
      - '!main'
      - '!version/7.0'
      - '!version/6.2'

jobs:
  transpile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}

      - name: Setup Python environment
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Run Python script
        run: python config-dev/transpile.py

      - name: Commit output
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Updated transpiled config
          commit_user_name: vastlimits
