name: Transpile Script

on:
  push:
    branches:
      - '*'
      - '!main'
      - '!version/7.0'
      - '!version/6.2'

jobs:
  transpile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}

      - name: Setup Python environment
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Run transpiler script
        shell: bash
        run: |
          OUTPUT=$(python config-dev/transpile.py)
          echo "$OUTPUT"
      
      - name: Run PSScriptAnalyzer
        uses: microsoft/psscriptanalyzer-action@v1.1
        with:
          path: "config/Security inventory/Windows"
          recurse: true
          output: config-dev/generated/psscriptanalyzer_log.sarif

      - name: Run PSScriptAnalyzer log analyzer script
        shell: bash
        run: |
           OUTPUT=$(python config-dev/analyzeLog.py --log_level note --fail_level error)
           echo "$OUTPUT"
      
      - name: Run badge update script
        if: success() || failure()
        run: python config-dev/updateBadge.py
        shell: bash
        env:
          GITHUB_REF: ${{ github.ref }}

      - name: Commit everything
        if: success()
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Updated transpiled output
          commit_user_name: vastlimits

      - name: Commit only README.md
        if: failure()
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Updated status in README.md
          file_pattern: '*.md'
          commit_user_name: vastlimits
