name: Validate configuration
on:
  push:
    branches-ignore:
    - "main"
    - "version/7.0"
    - "version/6.2"
    paths-ignore:
    - "config-dist/**"    # avoid recursion
  pull_request:
    branches:
    - develop


env:
  uAConfigCheck_FEED: uAConfigCheck
  uAConfigCheck_Organization: https://dev.azure.com/vastlimits
  uAConfigCheck_EXE_Artifact_Version: '*'
  uAConfigCheck_EXE_Artifact_Package: uaconfigcheck
  uAConfigCheck_DLL_Artifact_Version: '*'
  uAConfigCheck_DLL_Artifact_ProductVersion: ${{ (github.ref == 'refs/heads/version/6.2' && '6.2.3')
                                              || (github.ref == 'refs/heads/version/7.0' && '7.0.2')
                                              || (github.ref == 'refs/heads/version/7.1' && '7.1.1')
                                              || 'develop' }}
  uAConfigCheck_DLL_Artifact_Package: uberagent

jobs:
  download-config:
    # Add "id-token" with the intended permissions.
    permissions:
      id-token: write
      contents: read

    runs-on: ubuntu-latest
    steps:
    
    - name: 'Login via azure/login@v1'
      uses: azure/login@v1
      with:
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        allow-no-subscriptions: true
        environment: azurecloud

    - name: download uAConfigCheck exe
      uses: azure/CLI@v1
      with:
        azcliversion: 2.55.0
        inlineScript: |
          az extension add --name azure-devops
          
          az artifacts universal download --organization $uAConfigCheck_Organization \
                                          --project uAConfigCheck --scope project --feed $uAConfigCheck_FEED \
                                          --name $uAConfigCheck_EXE_Artifact_Package \
                                          --version "$uAConfigCheck_EXE_Artifact_Version" \
                                          --path . \
                                          --file-filter 'uAConfigCheck.exe'
          
    - name: download uAConfigCheck dll
      uses: azure/CLI@v1
      with:
        azcliversion: 2.55.0
        inlineScript: |
          az extension add --name azure-devops
          
          az artifacts universal download --organization $uAConfigCheck_Organization \
                                          --project uAConfigCheck --scope project --feed $uAConfigCheck_FEED \
                                          --name $uAConfigCheck_DLL_Artifact_Package-$uAConfigCheck_DLL_Artifact_ProductVersion \
                                          --version "$uAConfigCheck_DLL_Artifact_Version" \
                                          --path ./releases/ \
                                          --file-filter 'uberAgent-$uAConfigCheck_DLL_Artifact_ProductVersion.dll'
    
    - uses: actions/upload-artifact@v4
      with:
        name: uAConfigCheck
        path: |
          ./uAConfigCheck.exe
          ./releases/uberAgent-$uAConfigCheck_DLL_Artifact_ProductVersion.dll
        retention-days: 1


  validate-config:
    needs: [download-config]
    runs-on: windows-latest
    steps:
    
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    
    - uses: actions/download-artifact@v4
      with:
        name: uAConfigCheck
    
    - name: 'validate configuration uAConfigCheck'
      run: |
        echo ".\uAConfigCheck.exe -t -w -v $env:uAConfigCheck_DLL_Artifact_ProductVersion -f .\config\uberAgent.conf"
        .\uAConfigCheck.exe -t -w -v $env:uAConfigCheck_DLL_Artifact_ProductVersion -f .\config\uberAgent.conf
      continue-on-error: false
